body {
	margin:0;
	padding:0;
	font-size:14px;
	font-family: 'Montserrat', sans-serif; /*设置字体的样式*/
	font-weight: 400; /*设置字体的粗细*/
	color: #333; /*字体默认颜色*/
}
/*将自带内外边距的设置为0*/
p,h1,h2,h3,h4,h5,h6,ul,ol,dl {
	margin:0;
	padding:0;
}
/*设置a样式*/
a {
	color:#333;
	text-decoration: none;
}
a:hover {
	color: #D10024;
}
/*设置小图标颜色*/
i {
	color:#D10024;
}
/*将ul去掉*/
ul {
	list-style:none;
}
div.container{
    width: 1170px;
    margin: 20px auto;
}
div.cart-subtitle{
    display: flex;
    justify-content: space-between;
    background-color: #e4e7ed;
    box-shadow: 3px 3px 6px #e4e7ed;
    padding:10px 0;
}
div.cart-subtitle>h3{
    font-weight:700;
    color:#333;
    padding:0 10px;
}
div.subtitle-text{
    padding:0 10px;
}
div.subtitle-text>:nth-child(2){
    color: #d10024;
    font-size:16px;
}
div.cart-title{
    margin-top:15px;
}
div.cart-title>table{
    width: 100%;
}
div.cart-title>table>thead>tr>th:first-child{
    width: 100px;
}
div.cart-title>table>thead>tr>th:nth-child(2){
    width: 400px;
}
div.cart-title>table th{
    border:1px solid #e4e7ed;
    padding:10px 0;
}
ul.cart-list{
    width: 100%;
    margin-bottom:20px;
}
ul.cart-list>li{
    display:flex;
    height: 100%;
    height: 200px;
    justify-content: space-between;
}
div.cart-select{
    width: 100px;
    border:1px solid #E4E7ED;
    text-align: center;
    display: flex;
    margin-left:1px;
    justify-content: center;
    align-items: center;
}
div.cart-product{
    display:flex;
    width: 400px;
    border:1px solid #e4e7ed;
    margin-left:2px;
    justify-content: space-between;
    align-items: center;
}
div.cart-text{
    width: 90%;
}
div.cart-image>a>img{
    width: 100%;
    height: 100%;
}
div.cart-product a{
    color:#2B2D42;
    display:block;
    font-weight:700;
}
div.cart-product a:hover{
    color:#d10024;
}
div.cart-price{
    width: 251px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left:2px;
    border:1px solid #E4E7ED;
}
div.cart-price>p{
    color:#d10024;
}
div.cart-price>del{
    font-size:12px;
    color:#e4e7ed;
}
div.cart-count{
    width: 135px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left:2px;
    border:1px solid #E4E7ED;
}
div.cart-count>span{
    display: inline;
    border:1px solid #e4e7ed;
    padding:0 20px;
}
div.cart-total{
    width: 136px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:2px;
    border:1px solid #E4E7ED;
}
div.cart-total>p{
    color:#333;
    font-weight:700;
}
div.cart-delete{
    width: 136px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:2px;
    border:1px solid #E4E7ED;
}
div.cart-delete>a{
    color:#333;
}
div.cart-delete>a:hover{
    color:#d10024;
}
div.cart-last{
    display:flex;
    justify-content: space-between;
    background-color:#e4e7ed;
    padding:10px;
}
div.last-check>a{
    margin-left:10px;
    color:#333;
}
div.last-check>a:hover{
    color:#d10024;
}
div.subtitle-text>button{
    padding:5px 10px;
    outline:none;
    border:1px solid #D10024;
    cursor: pointer;
    color:#fff;
    border-radius: 20px;
    background-color: #d10024;
}
div.subtitle-text>span:nth-child(4){
    color:#0e90d2;
    font-weight: 700;
}